services:
  db:
    image: postgres:16
    container_name: inventory_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: inventory
    ports:
      - "5432:5432"
    volumes:
      - inventory_pgdata:/var/lib/postgresql/data

volumes:
  inventory_pgdata: